.hdr-main {
    padding: 10px 20px 20px 20px; // 위 오 아 왼
    margin: 10px 15%; // 세 가
    min-width: 700px;

    .hdr-wrap {
        padding-bottom: 30px;
        span {
            margin-right: 30px;
            cursor: pointer;
            .profile {
                height: 120px;
                width: 120px;
                border-radius: 60px;
                overflow: "hidden";
            }
            &:nth-child(2) {
                font-size: xx-large;
                vertical-align: -20%;
            }
        }
    }
}

.nav-link {
    cursor: pointer;
}