.body {
    width: 100%;
}

.login-main {
    width: 400px;
    margin: 150px auto;
    .container {
        margin-top: 200px;
    }

    .card-register {
        border: none;
    }
    .row {
        justify-content: center;
    }

    .login-title {
        text-align: center;
    }

    .login-group {
        display: flex;
        margin-top: 10px;

        .login-icon {
            display: flex;
            align-items: center;
        }

        .input-login {
            margin-left: 10px;
        }
    }

    .login-btn {
        margin-top: 20px;
    }

    .signup-btn {
        width: 100%;
        margin-top: 10px;
        background-color: rgb(158, 158, 158);
        border-color: rgb(158, 158, 158);
    }
}