.tags-input {
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    flex-wrap: wrap;
    margin: 10px 0 30px 0; // 위 오 아 왼
    font-size: 13px;
    input {
        flex: 1;
        border: none;
        padding: 0;
        min-width: 120px;
        height: 34px;
        font-size: 14px;
        margin-top: 8px;
        &:focus {
            box-shadow: none;
            outline: none;
            border-color: #ced4da;
        }
        &::placeholder {
            color: #b0b4b7;
        }
    }
    .is-valid {
        border: none;
        background: none;
        &:focus {
            box-shadow: none;
        }
    }
    .invalid-feedback {
        font-size: 12px;
    }
    #tags {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .tag {
        width: auto;
        height: 34px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
        list-style: none;
        border-radius: 45px;
        background: #95b4ee;
        padding: 2px 15px; // 세 가
        margin-top: 8px;
        margin-right: 8px;
        .tag-title {
            font-size: 14px;
            font-weight: 600;
        }
        .tag-close-icon {
            display: block;
            margin-left: 8px;
            padding-bottom: 2px;
            font-size: 15px;
            color: #fff;
            cursor: pointer;
        }
    }

}