.wr-main {
    padding: 10px 20px 20px 20px; // 위 오 아 왼
    margin: 10px 15%; // 세 가
    .wr-wrapper {
        margin: 5% 5%;
        .wr-title {
            input {
                height: 50px;
                margin: 30px 0;
                border: none;
                font-weight: bold;
                font-size: xx-large;
                padding: 0;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &::placeholder {
                    color: #b0b4b7;
                }
            }
        }
        hr {
            width: 50px;
            border: 0; 
            border-bottom: 5px solid black;
            margin-bottom: 0;
            opacity: 0.75;
        }
        .wr-btn {
            float: right;
            button {
                margin-left: 5px;
            }
        }
    }  
}

.editor-main {
    height: 550px;
    border: none;
    .quill {
        height: 500px;
        .ql-toolbar, .ql-container {
            border-top: none;
            border-right: none;
            border-left: none;
        }
        .ql-toolbar {
            padding-left: 0;
            padding-right: 0;
        }
        .ql-editor {
            padding-left: 0px;
            padding-right: 0px;
            &:before {
                left: 0px !important;
            }
        }
    }
}