.wr-main {
    min-width: 700px;
    
    .wr-wrapper {
        padding: 10px 20px 20px 20px; // 위 오 아 왼
        margin: 10px 20%; // 세 가

        .wr-category {

            .cate-title {
                margin-right: 40px;
            }

            .btn {
                margin: 0 30px 4px 0;
                border: 1px solid rgb(172, 172, 172);
                border-radius: 50px;
                background-color: white;
                color: rgb(149, 148, 148);
                font-size: 14px;
                width: 70px;

                &:focus,
                &.active{
                    background-color: rgb(172, 172, 172);
                    color: white;
                    font-weight: 600;
                }

                &:hover {
                    font-weight: 600;
                }
            }
        }

        .wr-title {
            input {
                height: 50px;
                margin: 30px 0;
                border: none;
                font-weight: bold;
                font-size: xx-large;
                padding: 0;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &::placeholder {
                    color: #b0b4b7;
                }
            }
        }
        hr {
            width: 50px;
            border: 0; 
            border-bottom: 5px solid black;
            margin-bottom: 0;
            opacity: 0.75;
        }
        .wr-btn {
            float: right;
        
            button {
                margin: 30px 0 10px 5px;
            }
        }
    }  
}

.editor-main {
    height: 550px;
    border: none;
    .quill {
        height: 500px;
        .ql-toolbar, .ql-container {
            border-top: none;
            border-right: none;
            border-left: none;
        }
        .ql-toolbar {
            padding-left: 0;
            padding-right: 0;
        }
        .ql-editor {
            padding-left: 0px;
            padding-right: 0px;
            &:before {
                left: 0px !important;
            }
        }
    }
}